:root {
  --famiyilCursive: cursive;
}
.container {
  background-color: transparent;
  max-width: 1400px;
  margin: 0 auto;

  .about_text {
    background: rgba(255, 255, 255, 0.833);
    margin-top: 35px;
    padding: 25px;
    border: none;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;

    h2 {
      font-weight: 500;
      line-height: 32px;
    }

    p {
      margin-top: 10px;
      text-indent: 30px;
      text-align: justify;
      font-size: 18px;
    }
  }

  .location_about {
    display: flex;
    gap: 25px;
    align-items: stretch;
    margin: 45px 0;
    justify-content: space-between;

    .location {
      background-color: #232a31d3;
      display: flex;
      flex-direction: column;
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: white;
      img {
        width: 160px;
        margin: 20px 0;
        margin-left: 30px;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: left;
        font-size: 24px;
        margin-left: 30px;
      }

      h1:nth-of-type(1) {
        font-size: 36px;
      }

      p {
        line-height: 36px;
        text-align: left;
        margin-left: 30px;
        a {
          color: rgb(13, 57, 218);
        }
      }
    }

    .iframe {
      border: none;
      // width: 50%;
      overflow: hidden;
      border: none;
      height: 400px;
    }

    .location,
    .iframe {
      width: 50%;
      border-radius: 25px;
    }
  }

  .lineX {
    background-color: rgba(255, 255, 255, 0.916);
    width: 100%;
    height: 2px;
  }

  .users {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.916);
    font-weight: 500;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .card {
      border: none;
      box-shadow: 0 0 8px black;
      border-radius: 12px;
      overflow: hidden;
      background-color: aliceblue;
      img {
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
      }
    }

    .description {
      padding: 15px;
      height: 100%;

      h3,
      h4 {
        color: rgba(0, 0, 0, 0.941);
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }
    }
  }

  .pagination {
    max-width: 1400px;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    li {
      list-style-type: none;

      a {
        width: 55px;
        height: 55px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 600;
        background-color: white;

        border: 2px solid #0a1821;
        transition: all 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
          transition: all 0.4s ease-in-out;
          background-color: #0a1821;
          box-shadow: 0 0 10px white;
          color: white;
        }
      }

      &.active a {
        transition: all 0.4s ease-in-out;
        background-color: #0a1821;
        border-radius: 50%;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .location_about {
      .location {
        padding: 25px;
        h1 {
          font-size: 20px;
          line-height: 28px;
        }
        h1:nth-of-type(1) {
          font-size: 32px;
          line-height: 42px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .location_about {
      flex-direction: column;

      .location {
        width: 100%;
        img {
          margin-left: 0;
          margin-top: 0;
        }

        h1 {
          margin-left: 0;
        }

        p {
          margin-left: 0;
        }
      }

      .iframe {
        height: 400px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .about_text {
      h2 {
        font-size: 24px;
        text-align: justify;
      }

      p {
        font-size: 16px;
      }
    }

    .cards {
      width: 80%;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .about_text {
      padding: 20px;
      h2 {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .cards {
      width: 95%;
    }

    .pagination {
      gap: 10px;
      li {
        a {
          width: 45px;
          height: 45px;
          font-size: 13px;
        }
      }
    }

    .location_about {
      .location {
        h1 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
