:root {
  --famiyilCursive: cursive;
}
.container {
  background-color: transparent;
  max-width: 1400px;
  margin: 0 auto;

  .location_about {
    display: flex;
    gap: 25px;
    align-items: stretch;
    margin: 45px 0;
    justify-content: space-between;

    .location {
      width: 100%;
      background-color: #232a31d3;
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: white;
      padding: 35px;
      img {
        width: 160px;
        margin-bottom: 20px;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: left;
        font-size: 24px;
      }

      h1:nth-of-type(1) {
        font-size: 36px;
      }

      p {
        line-height: 36px;
        text-align: left;
        a {
          color: rgb(13, 57, 218);
        }
      }
    }

    .iframe {
      border-radius: 25px;
      border: none;
      width: 100%;
      overflow: hidden;
      border: none;
    }
  }

  .lineX {
    background-color: rgba(255, 255, 255, 0.916);
    width: 100%;
    height: 2px;
  }

  .users {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.916);
    font-weight: 500;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .card {
      border: none;
      box-shadow: 0 0 8px black;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
      }
    }

    .description {
      padding: 15px;
      height: 100%;
      background-color: aliceblue;
      h3,
      h4 {
        color: rgba(0, 0, 0, 0.941);
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .location_about {
      .location {
        padding: 25px;
        h1 {
          font-size: 20px;
          line-height: 28px;
        }
        h1:nth-of-type(1) {
          font-size: 32px;
          line-height: 42px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .location_about {
      flex-direction: column;

      .iframe {
        height: 400px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .cards {
      width: 80%;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .cards {
      width: 95%;
    }

    .location_about {
      .location {
        h1 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
