.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.192);
  display: grid;
  place-items: center;
  z-index: 999;

  svg {
    color: red;
    cursor: pointer;
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .views {
    width: 90%;
    height: 600px;
    display: grid;
    place-items: center;

    .audios {
      background-color: white;
      width: 30%;
      border-radius: 15px;
      padding: 15px 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.786);

      h3 {
        color: black;
        text-align: center;
        font-weight: 400 !important;
        margin-bottom: 15px;
      }
    }

    img {
      margin: 0 auto;
      object-fit: contain;
      display: block;
      width: 80%;
      object-fit: contain;
      height: 600px !important;
      border-radius: 20px !important;
      &:hover {
        filter: brightness(100%);
      }
    }

    .contents {
      background-color: rgb(0, 0, 0);
      padding: 20px 20px 15px 15px;
      max-width: 80%;
      border-radius: 20px;
      height: 560px;
      display: grid;
      place-items: center;
      .text {
        padding: 15px;
        height: 520px;
        overflow-y: auto;
        p {
          line-height: 32px;
          font-size: 28px;

          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .contents {
    max-width: 90% !important;
    height: 500px !important;
    .text {
      height: 460px !important;
    }
  }

  .audios {
    width: 45% !important;
  }
}

@media only screen and (max-width: 768px) {
  .openModal {
    width: 100% !important;
    .views {
      .audios {
        width: 65% !important;
      }

      img {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .openModal {
    svg {
      font-size: 22px;
    }
  }
  .contents {
    max-width: 96% !important;
    padding: 7px !important;
    height: 480px !important;
    .text {
      height: 440px !important;
      padding: 7px !important;
    }
  }

  .audios {
    width: 85% !important;

    h3 {
      font-size: 16px !important;
    }
  }
}
