.weather-container {
  height: 36px;
  width: 30%;
}

.weather-card {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex !important;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
  .weather-icon {
    height: 100%;
    width: 32px;
  }
  p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
}

@media only screen and (max-width: 1200px) {
  .weather-container {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .weather-container {
    height: 32px;
    width: 100%;
    margin-top: 11px;

    .weather-card {
      height: 32px;
      .weather-icon {
        width: 32px;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .weather-card {
    height: 40px;
    .weather-icon {
      width: 35px;
      height: 24px !important;
    }
    p {
      font-size: 13px;
    }
  }
}
