.weather-container {
  height: 38px;
  width: 30%;
}

.weather-card {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex !important;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
  img {
    height: 38px;
    width: 38px;
  }
  p {
    font-size: 14px;
    // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    //   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: "Poppins", sans-serif;
  }
}

@media only screen and (max-width: 1200px) {
  .weather-container {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .weather-container {
    height: 38px;
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .weather-card {
    height: 40px;
    img {
      width: 35px;
      height: 30px;
    }
    p {
      font-size: 13px;
    }
  }
}
