.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;

  p {
    color: #555;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .loading-wrapper {
    div {
      margin-top: 130px;
      width: 100px;
      height: 100px;
      span {
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
