:root {
  --famiyilCursive: cursive;
  --blackColor: rgba(0, 0, 0, 0.929);
}

.wrapper {
  background-color: #0a1821;
  padding: 15px;
  .prevButtons {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 6px;

    button {
      display: flex;
      align-items: center;
      text-align: left;
      color: white;
      gap: 6px;
      font-size: 24px;
      background-color: transparent;
      border: none;
      transition: all 0.3s ease-in-out;

      prev {
        display: flex;
        align-items: center;
        gap: 6px;
        svg {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 24px;
          min-width: 25px;
        }
      }
    }

    button:first-child prev,
    button:first-child span {
      cursor: pointer;
      &:hover {
        color: green;
        transition: all 0.3s ease-in-out;
      }
    }

    button:last-child {
      span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  .containerBtn {
    margin: 30px 0 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      margin-top: 4px;
      width: 120px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      border-radius: 12px;

      &:hover {
        transition: all 0.4s ease-in-out;
        background-color: #0a1821;
        border-color: #0a1821;
      }
    }

    svg {
      font-size: 32px;
      color: white;
      margin-top: 6px;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: white;
    }
  }

  img {
    height: 550px;
    display: block;
    margin: 0 auto 30px;
  }

  p,
  span,
  span font {
    color: white;
    line-height: 36px;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    padding: 15px 25px;
  }

  .container {
    padding: 0 25px;
  }

  img {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .prevButtons {
    button {
      span {
        font-size: 15px;
      }
    }
    margin-top: 10px;
  }

  .container {
    .containerBtn {
      gap: 10px;
      button {
        width: 18%;
        svg {
          font-size: 24px;
        }
      }

      h1 {
        font-size: 16px;
        text-align: left;
      }
    }

    img {
      object-fit: cover;
      height: 400px;
    }
  }
}
