.login-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(40, 35, 35);
  background-image: url("./font_login.webp");
  background-size: cover;
  // filter: brightness(30%);
  display: flex;
  justify-content: center;
  .login {
    padding: 25px;
    margin-top: 8%;
    width: 42%;
    height: 450px;
    border: 4px solid #422006;
    border-radius: 18px;
    background-color: #051522;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.877);

    h1 {
      color: white;
      text-align: center;
      font-size: 32px;
      font-weight: 500 !important;
      font-family: "Poppins", sans-serif;
    }

    .inputCard {
      display: flex;
      flex-direction: column;
      color: white;

      input {
        border: 2px solid #ba8e52;
        border-radius: 25px;
        background-color: transparent;
        margin-top: 6px;
        height: 52px;
        font-size: 18px;
        letter-spacing: 1.2px;
        font-weight: 400 !important;
        font-family: "Poppins", sans-serif;
        outline: none;
        padding: 0 20px;
        color: white;
      }

      .label {
        color: #ba8e52;
        font-size: 20px;
        margin-top: 18px;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif;
      }

      input::placeholder {
        color: white;
      }
    }

    .loginBtn {
      border: 2px solid #ba8e52;
      border-radius: 25px;
      background-color: #0a1821;
      margin-top: 6px;
      height: 52px;
      outline: none;
      width: 100%;
      margin-top: 18px;
      padding: 0 15px;
      color: white;
      cursor: pointer;
      font-size: 18px;
      letter-spacing: 1.2px;
      font-weight: 400 !important;
      font-family: "Poppins", sans-serif;
      transition: all 0.3s ease-in-out;
    }

    .loginBtn:hover {
      background-color: #1c323f;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media only screen and (max-width: 992px) {
  .login-container {
    .login {
      width: 65%;
      margin-top: 35%;
      h1 {
        font-size: 24px;
      }

      .inputCard {
        .label {
          font-size: 16px;
        }

        input,
        input::placeholder {
          font-size: 16px;
        }
      }

      .loginBtn {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    .login {
      width: 75%;
      height: 420px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .login-container {
    .login {
      width: 85%;
      margin-top: 45%;
      height: 380px;
      padding: 12px;
      .inputCard input,
      .loginBtn {
        height: 46px;
      }
    }
  }
}
