.login-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(40, 35, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  .login {
    padding: 25px;
    width: 30%;
    height: 320px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.877);
  }
}
