:root {
  --index: calc(1vw + 1vh);
  --fontSegoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}
.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 45px;
  // position: relative;

  .bg_pattern {
    position: absolute;
    top: -5.8%;
    left: -6%;
    animation: pattern_img 20s infinite linear;
  }

  @keyframes pattern_img {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .images-container,
  .images-container1 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    grid-gap: 10px;
    height: 280px;
    perspective: calc(var(--index) * 100);

    .img {
      border-radius: 15px;
      display: flex;
      justify-content: end;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      width: calc(var(--index) * 6.3);
      // height: calc(var(--index) * 14);
      height: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      filter: grayscale(0.4) brightness(0.7);
      transition: transform 1.5s var(--transition), filter 3s var(--transition),
        width 0.5s var(--transition);
      will-change: transform, filter, rotateY, width;

      &:hover {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 10));
      }

      &:hover + * {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
        z-index: -1;
      }

      &:hover + * + * {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
        z-index: -2;
      }

      &:hover + * + * + * {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
        z-index: -3;
      }

      &:hover + * + * + * + * {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 0.6)) rotateY(15deg);
        z-index: -4;
      }

      &:has(+ :hover) {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
      }

      &:has(+ * + :hover) {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
      }

      &:has(+ * + * + :hover) {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
      }

      &:has(+ * + * + * + :hover) {
        filter: inherit;
        transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
      }

      &:focus .detailLink {
        display: block;
        width: 100%;
        color: white;
      }

      img {
        border-radius: 12px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }

      .detailLink {
        position: absolute;
        text-decoration: none;
        background-color: rgba(38, 38, 38, 0.695);
        width: 100%;
        padding: 12px 6px;
        span {
          text-align: center;
          display: block;
          color: white;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
        }
      }
    }

    .imgWidth {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 34vw;
      filter: inherit;
      z-index: 100;
      transform: translateZ(calc(var(--index) * 6));
      margin: 0 0.8vw;
      justify-content: end;
    }
  }

  .images-container1 {
    width: 50%;
  }
}

// media codi
@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
    margin: 0 auto;
    .images-container {
      width: 90%;
      gap: 10px;

      .img {
        .detailLink {
          span {
            font-size: 16px;
          }
        }
      }
    }

    .images-container1 {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
    .images-container {
      width: 95%;
      height: 260px;

      .img {
        .detailLink {
          span {
            font-size: 14px;
          }
        }
      }
    }

    .images-container1 {
      width: 90%;
      height: 260px;
      .img {
        .detailLink {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
    .images-container {
      height: 230px;
      display: flex;
      width: 100% !important;
      gap: 6px !important;
    }

    .images-container1 {
      width: 95%;
      height: 230px;
      gap: 6px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .images-container,
    .images-container1 {
      height: 180px;
      .img {
        .detailLink {
          padding: 5px 0;
        }
        .detailLink span {
          font-size: 12px;
        }
      }
    }
  }
}
