:root {
  // --index: calc(1vw + 1vh);
  --fontSegoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1400px;
  width: 80%;
  margin: 30px auto;

  // .images-container {
  //   display: grid;
  //   grid-template-columns: repeat(7, 1fr);
  //   gap: 25px;
  //   // grid-row-gap: 50px;

  //   .img {
  //     height: 350px;
  //     position: relative;
  //     transition: all 0.4s linear;
  //     transform: rotateX(30deg);
  //     background-color: red;
  //     border-radius: 12px;
  //     z-index: 0;

  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //       object-position: center;
  //       border-radius: 12px;
  //       &:hover {
  //       }
  //     }

  //     span {
  //       position: absolute;
  //       bottom: 20px;
  //       opacity: 0;
  //       padding: 10px 0;
  //       font-family: var(--fontSegoe);
  //       color: black;
  //       min-height: 50px;
  //       font-weight: 600;
  //       font-size: 14px;
  //       width: 90%;
  //       background-color: gray;
  //       left: 50%;
  //       display: flex;
  //       letter-spacing: -0.9px;
  //       align-items: center;
  //       justify-content: center;
  //       text-align: center;
  //       transform: translate(-50%);
  //       transition: all 0.3s linear;
  //     }

  //     &:hover {
  //       position: relative;
  //       z-index: 1;
  //       transition: all 0.4s linear;
  //       transform: scaleX(2);
  //       transition: all 0.4s linear;
  //       box-shadow: 0 0 20px rgb(47, 46, 46);

  //       // img {
  //       //   border-radius: 8px;
  //       // }

  //       span {
  //         opacity: 1;
  //         border-radius: 8px;
  //         transition: all 0.5s linear;
  //         color: rgba(0, 0, 255, 0.823);
  //       }
  //     }
  //   }
  // }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    justify-content: center;
    margin: 100px auto 0;
    // salom
    // perspective: calc(var(--index) * 100);

    .img {
      max-width: 100px;
      height: 300px;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;

      img {
        border-radius: 15px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }

      .detailLink {
        position: absolute;
        bottom: 20px;
        padding: 8px 4px;
        background-color: rgba(0, 0, 0, 0.668);
        border-radius: 8px;
        z-index: 2;
        left: 50%;
        width: 80%;
        font-family: var(--fontSegoe);
        transform: translate(-50%);
        transition: all 0.2s ease;

        span a {
          display: block;
          color: white;
          padding: 8px;
          text-align: center;
          font-size: 12px !important;
          text-decoration: none;
        }
      }

      // commitga olindi
      // &:hover {
      //   img {
      //     transform: scaleX(2);
      //     transition: all 0.4s ease;
      //     position: relative;
      //     z-index: 2;
      //   }

      //   span {
      //     transition: all 0.5s ease;
      //     opacity: 1;
      //     width: 180%;
      //     display: -webkit-box;
      //     -webkit-box-orient: vertical;
      //     -webkit-line-clamp: 2;
      //     overflow: hidden;
      //     height: 80px;
      //   }
      // }
      // commitga olindi
    }

    .imgWidth {
      width: 300px;
      transform: scaleX(1.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.901);
      transition: all 0.3s ease-in-out;
      border-radius: 15px;
    }
  }
}

// media codi
@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
    margin: 0 auto;
    .images-container {
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
    margin: 0 auto;
    .images-container {
      display: grid;
      gap: 30px;
      margin: 50px auto 0;
      grid-template-columns: repeat(4, 1fr);

      .img {
        width: 100%;
        height: 260px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .images-container {
    display: flex;
    width: 95% !important;
    gap: 12px !important;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 98%;

    .images-container {
      .img {
        height: 240px;
      }
    }
  }
}
