.container {
  .gregorian-year {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.382);
    padding: 6px 18px;
    border-radius: 8px;
    gap: 5px;
    width: 100%;
    justify-content: center;

    .year {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: rgba(255, 255, 255, 0.623);
      span {
        display: inline-block;
        text-transform: lowercase;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
      }
    }

    .year:nth-last-child(2),
    .year:nth-last-child(1) {
      color: white;
    }

    .lineY {
      width: 2px;
      height: 15px;
      margin: 0 6px;
      background-color: rgb(247, 245, 245);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    display: block;
  }

  .gregorian-year {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px !important;
    justify-content: flex-start !important;
    margin-top: 2px;
  }

  .gregorian-year .lineY {
    display: none;
  }

  .gregorian-year .year span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    margin-top: 20px;
    .gregorian-year {
      padding: 0;
      border: none;

      .year {
        span {
          font-size: 13px;
        }
      }
    }
  }
}
