.container {
  .gregorian-year {
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.382);
    padding: 6px 18px;
    border-radius: 8px;
    gap: 10px;
    width: 100%;
    justify-content: center;

    .year {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: rgba(255, 255, 255, 0.623);
      span {
        display: inline-block;
        text-transform: lowercase;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
      }
    }

    .year:nth-last-child(2),
    .year:nth-last-child(1) {
      color: white;
    }

    .lineY {
      width: 2px;
      height: 15px;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;

    .gregorian-year {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;

      .lineY {
        display: none;
      }

      .year {
        justify-content: flex-start;
        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 120%;
    .gregorian-year {
      border: none;
      padding: 0;

      .gregorian-year {
        .year {
          margin-bottom: 10px;
        }
      }
    }
  }
}
