:root {
  --famiyilCursive: cursive;
  --blueColor: rgba(0, 255, 21, 0.87);
  --blackColor: rgba(0, 0, 0, 0.929);
}
.container {
  .prevBtn {
    background-color: #0a1821;
    display: flex;
    align-items: center;
    height: 52px;
    .button {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: white;
      gap: 6px;
      max-width: 1400px;
      border: none;
      outline: none;
      width: 100%;
      margin: 0 auto;
      font-size: 18px;
      transition: all 0.3s ease-in;
      font-family: "Poppins", sans-serif;
      button {
        border: none;
        outline: none;
        background-color: transparent;
        display: flex;
        font-size: 18px;
        color: white;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          color: green;
          transition: all 0.3s ease-in-out;
        }
      }

      svg {
        font-size: 25px;
        margin-right: 8px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 45px auto;
    max-width: 1400px;

    .card {
      border: none;
      box-shadow: 0 0 10px rgb(88, 88, 88);
      border-radius: 12px;
      overflow: hidden;
      background-color: red;

      .img {
        height: 300px;
        img {
          height: 100%;
          width: 100%;
          border: none;
          object-fit: cover;
        }
      }

      .box {
        padding: 25px 15px;
        display: flex;
        background-color: #14293d;
        align-items: center;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
        h2 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          color: white;
          font-weight: 500;
        }
        button {
          border: none;
          background-color: transparent;
          font-size: 18px;
          color: var(--blueColor);
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .button,
    .cards {
      padding: 0 25px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .prevBtn {
      position: fixed;
      top: 70px;
      width: 100%;
    }

    .cards {
      display: grid;
      margin-top: 100px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .prevBtn {
      .button {
        svg,
        span {
          font-size: 16px;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr;

      .card {
        .box {
          h2 {
            font-size: 18px;
          }
          button {
            font-size: 16px;
          }
        }
      }
    }
  }
}
