:root {
  --blueColor: rgba(0, 0, 255, 0.87);
  --blackColor: rgba(0, 0, 0, 0.929);
}
.container {
  max-width: 1400px;
  margin: 20px auto;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: var(--blueColor);
    border-radius: 10px;
  }

  .wrapper {
    background-color: rgba(184, 184, 184, 0.729);
    padding-bottom: 15px;
    img {
      width: 100%;
      height: 500px;
    }
    h3,
    h2 {
      font-family: "Poppins", sans-serif;
      margin: 15px 20px;
      color: var(--blackColor);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    margin-top: 50px;
  }
}
