:root {
  --famiyilCursive: cursive;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  h1 {
    margin-left: auto;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 35px 0;
    grid-gap: 35px;

    .card {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 35px;
      .img {
        width: 100%;
        height: 360px;
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 20px;
          transition: all 0.3s ease-in-out;
          &:hover {
            filter: brightness(50%);
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .mediaInfoSection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-evenly;
        color: white;

        h1 {
          font-family: var(--famiyilCursive);
          font-weight: 500;
          text-align: left;
          margin-right: auto;
          background-color: red;
        }

        .title {
          display: flex;
          gap: 10px;
          align-items: self-start;

          span {
            font-size: 22px;
            font-weight: 400;
            font-family: var(--famiyilCursive);
          }
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 15px;
          span {
            font-size: 22px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }
        }
      }
    }
  }

  .pagination {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    li {
      list-style-type: none;

      a {
        width: 55px;
        height: 55px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        box-shadow: 0 0 10px white;
        border: 2px solid #0a1821;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          transition: all 0.4s ease-in-out;
          background-color: #0a1821;
        }
      }

      &.active a {
        transition: all 0.4s ease-in-out;
        background-color: #0a1821;
        border-radius: 50%;
        color: white;
      }
    }
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      background-color: transparent;
      border: none;

      svg {
        color: white;
        font-size: 24px;
      }
    }
  }

  .searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
    font-family: var(--famiyilCursive);

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        font-size: 30px;
        color: white;
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .card {
      display: flex !important;
      gap: 15px !important;
      .img {
        width: 35% !important;
        height: 280px !important;
        img {
          height: 100%;
        }
      }

      .mediaInfoSection {
        width: 65% !important;
        height: 280px !important;
        h1 {
          font-size: 24px;
          text-align: center;
        }

        .icons {
          display: flex !important;
          gap: 6px !important;
          span {
            font-size: 16px !important;
          }
          span:last-child svg {
            font-size: 18px !important;
          }
        }
        .icons > span:nth-of-type(odd) {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .card {
      display: flex !important;
      flex-direction: column !important;
      .img {
        width: 80% !important;
        height: 340px !important;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .mediaInfoSection {
        width: 100% !important;
        display: grid;
        place-items: center;

        .icons {
          span:last-child svg {
            font-size: 24px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .pagination {
      gap: 10px;
      li {
        a {
          width: 45px;
          height: 45px;
          font-size: 13px;
        }
      }
    }
  }
}
