:root {
  --blackColor: rgba(0, 0, 0, 0.929);
}
.container {
  width: 100%;
  .wrapper {
    background-color: #0a1821;
    padding: 15px;
    .prevButtons {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      gap: 6px;

      button {
        display: flex;
        align-items: center;
        color: white;
        gap: 6px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-in-out;

        svg {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 24px;
        }
      }

      button:first-child {
        cursor: pointer;
        &:hover {
          color: green;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .content {
    max-width: 1400px;
    margin: 25px auto;
    display: grid;
    place-items: center;

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 20px;
      color: white;
    }

    img {
      background-size: contain;
      height: 450px;
    }

    p,
    span {
      color: white !important;
      line-height: 32px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .wrapper {
      .prevButtons {
        padding: 0 30px;
      }
    }

    .content {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .wrapper {
      .prevButtons {
        padding: 0;

        button span {
          font-size: 14px;
        }
      }
    }

    .content {
      h2 {
        font-size: 18px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 320px;
      }
    }
  }
}
